body{
    width: 600px;
    margin: auto;
    background-color:ivory;
}
body header p{
    font-family:  Arial, Helvetica, sans-serif;
    line-height: 50px;
    border:teal solid;
    text-align: center;
}
body p{
    font-family: 'Times New Roman', Times, serif;
}


body main p{
    font-family: 'Times New Roman', Times, serif;
    border:teal solid;
    text-align: center;
    border-radius: 25px;

}
body main ol li{
    text-decoration:wavy;
    color:darkolivegreen;

}
.food{
    width: 230px;
    height: 165px;
    float: right;
}
.ed{
    width: 230px;
    height: 165px;
    float: right;
}
body main ul li{
    color:darkolivegreen;


}
